@model TeduShop.Web.Models.FeedbackViewModel
@using BotDetect.Web.Mvc;

@{
    ViewBag.Title = "Thông tin liên hệ";
    Layout = "~/Views/Shared/Layouts.cshtml";
}
@section headerCss{
    <style>
        /* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
        #map {
            height: 600px;
        }
        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        .error {
            color: red;
        }
    </style>

    <link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl"
          rel="stylesheet" type="text/css" />

}
@section footerJS{

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5DMdKX4wELmZvtcVWyDs4c23oIrndDpA"></script>
    <script src="~/Assets/client/js/controllers/contact.js"></script>
}
<input type="hidden" id="hidAdress" value="@Model.ContactDetail.Name <br />Điện thoại: @Model.ContactDetail.Phone <br />Địa chỉ: @Model.ContactDetail.Address" />
<input type="hidden" id="hidLat" value="@Model.ContactDetail.Lat" />
<input type="hidden" id="hidLng" value="@Model.ContactDetail.Lng" />
<input type="hidden" id="hidName" value="@Model.ContactDetail.Name" />
<div class="main">
    <div class="reservation_top">
        <div class=" contact_right">
            <h3>Thông tin liên hệ</h3>
            <address class="address">
                <p>
                    9870 St Vincent Place,
                    <br>Glasgow, DC 45 Fr 45.
                </p>
                <dl>
                    <dt> </dt>
                    <dd>
                        Điện thoại:
                        <span> @Model.ContactDetail.Phone</span>
                    </dd>

                    <dd>
                        E-mail:&nbsp;
                        <a href="mailto@(Model.ContactDetail.Email)">@(Model.ContactDetail.Email)</a>
                    </dd>
                </dl>
            </address>
            <div id="map"></div>
            <div class="contact-form">
                @using (Html.BeginForm("SendFeedback", "ContactDetail", FormMethod.Post))
                {
                    if (ViewData["SuccessMsg"] != null)
                    {
                        <div class="alert alert-success" role="alert">
                            <strong>Chúc mừng bạn! </strong> gửi phản hồi thành công.
                            <br />Chúng tôi sẽ liên hệ lại sớm nhất có thể.
                        </div>
                    }
                    @Html.ValidationSummary(false, "", new { @class = "error", @placeholder = "Name" })
                    @Html.TextBoxFor(model => model.Name, new { @class = "textbox" })
                    @Html.TextBoxFor(model => model.Email, new { @class = "textbox" })
                    @Html.TextAreaFor(model => model.Message)
                    MvcCaptcha contactCaptcha = new MvcCaptcha("ContactCaptcha");
                    @Html.Captcha(contactCaptcha)
                    @Html.TextBox("CaptchaCode")
                    <input type="submit" value="Gửi đi">
                    <div class="clearfix"> </div>
                }
            </div>
        </div>
    </div>
</div>